<template name="adminLayout">
    <div class="wrapper">

      <!-- Main Header -->
      <header class="main-header">

        <!-- Logo -->
        <a href="index2.html" class="logo">
          <!-- mini logo for sidebar mini 50x50 pixels -->
          <span class="logo-mini"><b>M</b>AP</span>
          <!-- logo for regular state and mobile devices -->
          <span class="logo-lg"><b>Materials</b>Atlas<b>Project</b></span>
        </a>

        <!-- Header Navbar -->
        <nav class="navbar navbar-static-top" role="navigation">
          <!-- Sidebar toggle button-->
          <!-- <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
          </a> -->
          <!-- Navbar Right Menu -->
          <div class="navbar-custom-menu">
              <ul class="nav navbar-nav">
                  <li><a href="{{pathFor route='elementTable'}}">Periodic Table</a></li>
                  {{#if isInRole 'administrator,uploader'}}
                  <li><a href="{{pathFor route='upload'}}">Upload</a></li>
                  {{/if}}
                  {{#if isInRole 'administrator'}}
                  <li><a href="{{pathFor route='users'}}">User Administration</a></li>
                  {{/if}}
                  <li>
                      {{#if currentUser }}
                      <a href="{{pathFor route='signin'}}" id="logout" class="btn-secondary">Sign out ({{user}})</a>
                      {{else}}
                      <a href="{{pathFor route='signin'}}" class="btn-secondary">Sign In</a>
                      {{/if}}
                  </li>
              </ul>
          </div>
        </nav>
      </header>
      <!-- Left side column. contains the logo and sidebar -->

      {{> yield 'aside'}}

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper main">
          {{> yield}}
      </div>

      <!-- Main Footer -->
      <footer class="main-footer">
        <!-- To the right -->
        {{> yield 'footer'}}
        <div class="pull-right hidden-xs">
          Materials Atlas Project
        </div>
        <!-- Default to the left -->
        <strong>Copyright &copy; {{currentYear}} <a href="http://yale.edu">Yale University</a></strong> All rights reserved.

      </footer>

      <!-- Control Sidebar -->
      {{> yield 'control'}}

    </div>
    <!-- ./wrapper -->

    <!-- REQUIRED JS SCRIPTS -->

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

    <!-- Optionally, you can add Slimscroll and FastClick plugins.
         Both of these plugins are recommended to enhance the
         user experience. Slimscroll is required when using the
         fixed layout. -->

</template>
