<template name="appBody">
	<div id="topbar">
		<div class="header-top">
			<div class="container">
				<div class="logo">
					<a href="/">Materials<span>Atlas</span>Project</a>
				</div>
				<div class="top-menu">
					<span class="menu"><img src="images/nav.png" alt=""/> </span>
					<ul>
					    <li><a href="/">Search</a></li>
					    <li><a href="{{pathFor route='upload'}}">Upload</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		{{> yield}}
	</div>
	<div id="wait">
		<span></span>
		<div></div>
		<img src="/images/pie.svg" >
	</div>
	<link href="/css/style.css" rel="stylesheet" type="text/css" media="all" />
</template>
