body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

/* CSS declarations go here */
.periodic-table > table {
	width: 100%;
}

.svg-wrapper {
    width: 100%;
    display: inline-block;
    position: relative;
}

g.e g:hover, g.s g:hover {
    outline: 2px solid #66F;
    cursor: pointer;
}

g.e g.selected, g.s g.selected {
    outline: 2px solid #F00;
    cursor: pointer;
}

.svg-wrapper .el-name {
    font-size: 2.6em;
    font-weight: bold;
    dominant-baseline: central;
    text-anchor: middle;
}

.svg-wrapper .el-num {
    text-anchor: end;
}

g.search text {
    dominant-baseline: central;
    text-anchor: middle;
    font-size: 2em;
    fill: #FFF;
    font-weight: bold;
}

g.search-and rect, g.search-or rect, g.search-reset rect {
    fill: #3c8dbc;
}


/*
 * Sidebar
 */

/* Hide for mobile, show later */
.w-sidebar {
  display: none;
}

.affix {
    top: 0;
}
@media (min-width: 768px) {
  .w-sidebar {
/*    position: fixed;

    top: 51px;
    bottom: 0;
    left: 0;
*/
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
/*.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}*/
.nav-sidebar > li > a.selected {
  color: #fff;
  background-color: #666;
}

#rightbar {
	position: fixed;
	right: 0;
 	display: none;
}

/*
 * Main content
 */

.summaryImg {
    width: 100%;
}

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}



/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}





.search-results {
    font-size: 1.5em;
}

.adm {
    display: none;
}

/*wafer*/
line.axis {
    stroke-width: 2;
    stroke: #363636;
}
line.tick {
    stroke-width: 1;
    stroke: #c3c3c3;
}
line.tick-a, text.tick-a {
    stroke: #c30000;
}
line.tick-b, text.tick-b {
    stroke: #0000c3;
}
line.tick-c, text.tick-c {
    stroke: #008000;
}
text.tick-text {
    font-family: "sans-serif";
    font-size: 14px;
    fill: #000000;
}
/*circle {
    fill: green;
}
*/
#wafer circle.feature {
    stroke: rgb(127, 0, 127);
	fill: rgb(127, 0, 127);
    stroke-width: 0.5;

}
/*style="fill-opacity: 0; traz-index: -1; position: relative;"*/

/*#wafer circle:hover {
    stroke: rgb(0, 0,0);
    stroke-width: 1;
}*/


#wafer circle.xrd {
    stroke: rgb(127, 0, 127);
    stroke-width: 1;
}
#wafer circle:hover {
    stroke: rgb(0, 0,0);
    stroke-width: 1;
}
#triangle circle:hover {
    stroke: rgb(0, 0,0);
    stroke-width: 5;
}

#wafer circle.clicked {
    stroke: rgb(255, 0,0);
    stroke-width: 1;
}
#triangle circle.clicked {
    stroke: rgb(255, 0,0);
    stroke-width: 5;
}
#wafer circle.selected {
    stroke: rgb(0, 0,0);
    stroke-width: 1;
}
#triangle circle.selected {
    stroke: rgb(0, 0,0);
    stroke-width: 5;
}
.wafer-graph {
    /*height: 400px;
    width: 400px;*/
	max-width: 300px;
	margin: 0 auto;
    /*overflow: hidden;*/
}

#popup {
    display: none;
    position: absolute;
    padding: 5px;
    border: solid 1px #000;
    background-color: #fff;
}

.xrd rect {
  fill: #ddd;
}

.xrd .axis path,
.xrd .axis line {
  fill: none;
  stroke: #d2d6de;
}

.xrd .caption {
    font-size: 20px;
    font-weight: bold;
    text-anchor: end;
}

.xrd g.selected {
    stroke: #000;
}

.xrd {
    fill: none;
    stroke: #000;
}

/*loading screen*/
.loading {
    height: 75vh;
    text-align: center;
}
    .loading span {
        line-height: 75vh;}
    .loading div {
        vertical-align: middle;
        display: inline-block;
        font-size: 3em;
        font-weight: bold;
        font-family: 'Play-Regular';
        color: #000;
    }


#wait {
    height: 100vh;
    width: 100%;
    /*background:url(/images/pie.gif) no-repeat center center;*/
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    opacity: .6;
    text-align: center;
    display: none;
}
    #wait img {
        height: 20vh;
        opacity: 1;
    }
    #wait > span {
        line-height: 100vh;}
    #wait > div {
        vertical-align: middle;
        display: inline-block;
        font-weight: bold;
        font-family: 'Play-Regular';
        color: #000;
    }


/* Upload */
div#help-text {
    display: none;
    margin: 5px;
}

.elementTemplate {
	display: none;
}

.el-fullscreen {
	width: 100%;
	z-index: 100000;
	/*top: 0;*/
	left: 0;
	position: absolute;
	margin-top: 10px;
}

	.el-fullscreen .el-plus {
		display: none;
	}

.wafer-element .box-body img {
	width: 100%;
}
