<template name="elementTable">
    {{#contentFor 'control'}}
    <!-- The Right Sidebar -->
    <aside class="control-sidebar control-sidebar-light">
        <div class="tab-content">
            <div class="search-results">
                Search Results:
                {{#if isInRole 'curator,administrator'}}
                    {{> showHidden}}
                {{/if}}
                {{#if Template.subscriptionsReady}}
                {{#each wafers}}
                    {{> searchResults}}
                {{else}}
                <div>
                    No Results
                </div>
                {{/each}}
                {{/if}}
            </div>
        </div>
    </aside>
    <!-- The sidebar's background -->
    <!-- This div must placed right after the sidebar for it to work-->
    <div class="control-sidebar-bg"></div>
    {{/contentFor}}

    <div class="svg-wrapper">
        <svg viewBox="0 0 {{width}} {{height}}">
            <g class="e">
                {{#each elements}}
                {{> element}}
                {{/each}}
            </g>
            <g class="s">
                {{#each searchOptions}}
                {{> searchOption}}
                {{/each}}
            </g>
        </svg>
    </div>

    <div class="adm">
        <button class="btn btn-primary btn-lg" id="load">load db</button>
    </div>
    <script src="/adminlte/js/app.js"></script>
</template>

<template name="showHidden">
    (Show hidden <input type="checkbox" checked="checked" name="show-hidden" />)
</template>

<template name="searchOption">
    <g class="{{class}}" transform="translate({{x}},{{y}})">
        <rect width="160" height="80" />
        <text x="80" y="40">{{text}}</text>
    </g>
</template>

<template name="element">
    <g transform="translate({{x}},{{y}})">
        <rect
            width="{{width}}" height="{{width}}"
            style="fill:{{bgcolor}};"
         />
         <text x="{{elText}}" y="{{elText}}" class="el-name">{{symbol}}</text>
         <text x="{{elNum}}" y="{{elNum}}" class="el-num">{{number}}</text>
    </g>
</template>

<template name="searchResults">
    <div>
        <a href="{{pathFor route='wafer' data=getPost}}">{{name}}</a>
        {{#if isInRole 'curator,administrator'}}
        <input type="checkbox" checked="{{properties.isHidden}}"><span> hidden</span>
        {{/if}}
    </div>
</template>
