<template name="loading">
	<div class="content-wrapper">
			<div class="loading">
				<span></span>
				<div>Loading. Please wait...</div>
			</div>

	</div>
	<script src="/adminlte/js/app.js"></script>
</template>
