<template name="upload">
	<!-- <h1 class="page-header">Upload</h1> -->
	<div class="panel panel-default">
		<div class="panel-body">
			<form id="upload">
				<div class="form-group">
					<label for="zip">File input</label>
					<a href="#" id="help"><span class="glyphicon glyphicon-question-sign"></span></a>
					<div class="checkbox"><label><input type="checkbox" name="2018specs" checked="checked"/>2018 specs</label></div>
					<div id="help-text">
						<p>Zip file structure: <code>&lt;Alloy Name&gt;</code> will appear in search results</p>
						<p><code>&lt;Alloy Name&gt;/<strong>EDX</strong>/edx_file_name.txt</code> (any file name)</p>
						<p><code>&lt;Alloy Name&gt;/<strong>XRD</strong>/xrd_file_name_001001.ras</code></p>
						<p><code>&lt;Alloy Name&gt;/<strong>XRD</strong>/xrd_file_name_001001.ras</code></p>
						<p><code>...</code></p>
						<p><code>&lt;Alloy Name&gt;/<strong>XRD</strong>/xrd_file_name_018020.ras</code></p>
						<p><code>&lt;Alloy Name&gt;/<strong>Meta</strong>/fabrication.txt</code> (<code>fabrication</code> will appear on wafer screen as an option)</p>
						<p><code>&lt;Alloy Name&gt;/<strong>Meta</strong>/&lt;meta 2 name&gt;.txt</code> (<code>meta 2 name</code> will appear on wafer screen as an option)</p>
						<p><code>...</code></p>
						<p><code>&lt;Alloy Name&gt;/<strong>Meta</strong>/&lt;other meta name&gt;.txt</code> (<code>other meta name</code> will appear on wafer screen as an option)</p>
						<p><code>&lt;Alloy Name&gt;/<strong>Summary</strong>/any_name.pdf</code> (any file name)</p>
						<p><code>&lt;Alloy Name&gt;/<strong>Summary</strong>/any_name.png</code> (any file name)</p>
						<p><code>&lt;Alloy Name&gt;/<strong>images</strong>/image1</code></p>
						<p><code>&lt;Alloy Name&gt;/<strong>images</strong>/image2</code></p>
						<p><code>...</code></p>
					</div>
					<input type="file" name="zipFiles[]" id="zip" multiple>
				</div>

				<div name="please-wait" class="alert alert-info hidden"><string>Analyzing file. Please wait...</string></div>

				{{#if Template.subscriptionsReady}}
				{{#unless _.isEqual composition.length 0}}
				<div class="alert alert-danger">
					<span>Items marked with a * have been found in database and <strong>will be overwritten</strong></span>
				</div>
				<div class="col-md-12"><label class="lead">Alloys found:</label></div>
				{{#each composition}}
				{{> compo index=@index compo=this}}
				{{/each}}
				<div class="col-md-12">
					<div class="alert alert-info">
							<p>##sampleid## and ##url## tokens will be replaced by the sample ID and the page URL in the footer of the sample</p>
							<p>
								Example: if Sample ID is "my_sample" and sample URL "http://map.org/w/1234",
								<strong>"name, ##sampleid##, ##URL##, (2018)"</strong> will become
								<strong>"name, my_sample, http://map.org/w/1234, (2008)"</strong>
							</p>
						</div>
						<button type="submit" class="btn btn-default">Upload Selected</button>

					<span id="message"></span>
				</div>
				{{/unless}}
				{{/if}}
				<div id="result" class="col-md-12">
				</div>
			</form>
		</div>
	</div>
	<script src="/adminlte/js/app.js"></script>
</template>

<template name="compo">
	<div class="form-group col-md-6" data-key="{{compo.name}}">
	<label>{{compo.name}}</label>
		{{#each compo.check}}
			{{> item check=this compo=compo}}
		{{/each}}
		<div class="form-group">
			<label>Sample ID</label>
			<input type="text" id="sampleId" class="form-control" value="{{sampleId}}">
		</div>
		<div class="form-group">
			<label>How to cite</label>
			<input type="text" id="howToCite" class="form-control" value="##sampleid##, ##url##">
		</div>
	</div>
</template>
<template name="item">
    <div class="checkbox" name="{{check.name}}">
        <label>
	        {{#if check.inDB}}
	            <input type="checkbox">
	            <span>* {{check.name}}</span>
	        {{else}}
	            <input type="checkbox" checked>
	            <span>{{check.name}}</span>
	        {{/if}}
        </label>
    </div>
</template>
