<template name="users">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Email</th>
                <th>Role</th>
            </tr>
        </thead>
        <tbody>
            {{#each users}}
            <tr>
                <td>
                    {{emails.[0].address}}
                </td>
                <td>
                    <select name="userRole">
                        <option>Public</option>
                        <option selected="{{selected roles.[0] 'curator'}}" value="curator">Curator</option>
                        <option selected="{{selected roles.[0] 'uploader'}}" value="uploader">Uploader</option>
                        <option selected="{{selected roles.[0] 'administrator'}}" value="administrator">Administrator</option>
                    </select>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</template>