<template name="wafer">
    {{#contentFor 'aside'}}
    {{> sideMenu}}
    {{/contentFor}}

    {{#contentFor 'control' }}
    <!-- The Right Sidebar -->
    <aside class="control-sidebar control-sidebar-light" style="overflow:auto">
        <div class="tab-content">
            {{> toggleClose}}
        </div>
        <div class="tab-content">
            {{> rightSidebar}}
        </div>
    </aside>
    <!-- The sidebar's background -->
    <!-- This div must placed right after the sidebar for it to work-->
    <div class="control-sidebar-bg"></div>
    {{/contentFor}}

    {{#contentFor 'footer'}}
    {{> citation}}
    {{/contentFor}}

    <div class="col-md-12">
        <div class="box box-success">
            <div class="box-header with-border">
                <h3 class="box-title">{{name}} - {{selectedOption}}</h3>
                <div class="box-tools pull-right">
                    <!-- Buttons, labels, and many other things can be placed here! -->
                    <!-- Here is a label for example -->
                    <a href="#" data-toggle="toggle"><span class="label label-primary">Metadata</span></a>

                    {{#if summary}}
                    <a href="{{summary}}" target="_blank"><span class="label label-primary">Summary</span></a>
                    {{/if}}
                </div>
                <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
        </div>
        <!-- /.box -->
    </div>

    <div style="clear:both;"></div>
    <div id="divXRD">{{> plot}}</div>
    <div style="clear:both;"></div>
    <div id="popup">
    </div>
    <!-- AdminLTE App -->
    <script src="/adminlte/js/app.js"></script>
</template>

<template name="citation">
    {{#if cite}}
    <div><strong>How to cite this data: </strong>{{cite}}</div>
    {{/if}}
</template>

<template name="toggleClose">
    <a href="#" data-toggle="toggle">Close</a>
</template>

<template name="rightSidebar">
    {{#if edit}}
        <div class="form-group">
            <textarea class="form-control edit-text" rows="8" cols="40"
                value="{{metadata}}"></textarea>
        </div>
        <a href="#" class="edit-btn">save</a>
    {{else}}
        {{{metadata}}}
        <!-- TODO -->
        <!-- <a href="#" class="edit-btn">edit</a> -->
    {{/if}}
</template>

<template name="plot">
    <div class="col-sm-6">
        <div class="box box-primary">
            <div class="box-header with-border text-center">
                <h3 class="box-title">Wafer</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body text-center">
                <div id="wafer" class="wafer-graph">
                    <svg width="100%" height="100%" viewbox="-50 -50 100 100">
                        <g transform="scale(1,-1)">
                    	{{#each realData data}}
                    	   {{> plotCircle}}
                    	{{/each}}
                        </g>
                        <g transform="scale(1,-1)">
                        {{#each optionData}}
                            {{> plotCircle}}
                        {{/each}}
                        </g>
                    </svg>
            	</div>
            </div>
            <!-- /.box-body -->
        </div>  <!-- /.box -->
    </div>
    <div class="col-sm-6">
        <div class="box box-primary">
            <div class="box-header with-border text-center">
                <h3 class="box-title">Distribution</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body text-center">
                <div id="triangle" class=
                "wafer-graph">
                    <svg width="100%" height="100%" viewbox="0 0 335 335">
                        <g>
                        {{#each corners}}
                        <line x1="{{x1}}" y1="{{y1}}" x2="{{x2}}" y2="{{y2}}" class="axis"></line>
                        {{/each}}
                        {{#each ticks}}
                        <text x="{{x}}" y="{{y}}" class="tick-text {{class}}" text-anchor="middle">{{text}}</text>
                        {{/each}}
                        {{#each lines}}
                        <line x1="{{x1}}" y1="{{y1}}" x2="{{x2}}" y2="{{y2}}" class="tick {{class}}"></line>
                        {{/each}}
                        {{#each elements}}
                        <text x="{{x}}" y="{{y}}" class="tick-text {{class}}" text-anchor="middle" transform="{{transform}}">{{name}}</text>
                        {{/each}}
                        {{#each ternaryData}}
                            {{> plotCircle}}
                        {{/each}}
                        </g>
                    </svg>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <div class="clear: both;">
    </div>
    <div id="anchor">

    </div>
    <!-- <div id="xrd">
        <svg></svg>
    </div>
 -->
</template>

<template name="waferElementTemplate">
    <div class="col-sm-6 {{class}} wafer-element el-normal">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">{{title}}</h3>
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool el-plus"
                            data-toggle="tooltip" data-placement="bottom"
                            title="Zoom full screen">
                        <i class="fa fa-plus"></i>
                    </button>
                    <button class="btn btn-box-tool">
                        <i class="fa fa-times"></i>
                    </button>
                </div>
                <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body content">
                {{#if xrd}}
                    <svg class="xrd"></svg>
                {{else}}
                    <img src="{{img}}" alt="Image" />
                {{/if}}
                <!-- <div class="xrd">
                    <svg></svg>
                </div> -->
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
</template>

<template name="sideMenu">
    <aside class="main-sidebar">

      <!-- sidebar: style can be found in sidebar.less -->
      <section class="sidebar">

        <!-- Sidebar Menu -->
        <ul class="sidebar-menu">
          <!-- <li class="header">HEADER</li> -->
          <!-- Optionally, you can add icons to the links -->
          {{#each availableOptions}}
          <li class="{{#if selected}}active{{/if}}">
              <a href="#">{{opt}}</a>
          </li>
          {{/each}}

          <!-- <li class="active"><a href="#"><i class="fa fa-link"></i> <span>Link</span></a></li>
          <li><a href="#"><i class="fa fa-link"></i> <span>Another Link</span></a></li>
          <li class="treeview">
            <a href="#"><i class="fa fa-link"></i> <span>Multilevel</span> <i class="fa fa-angle-left pull-right"></i></a>
            <ul class="treeview-menu">
              <li><a href="#">Link in level 2</a></li>
              <li><a href="#">Link in level 2</a></li>
            </ul>
          </li> -->
        </ul>
        <!-- /.sidebar-menu -->
      </section>
      <!-- /.sidebar -->
    </aside>

</template>

<template name="plotCircle">
    {{#if feature}}
    <circle cx="{{x}}" cy="{{y}}" r="1"
        class="{{class}} feature"></circle>
    {{else}}
    <circle cx="{{x}}" cy="{{y}}" r="{{radius feature}}"
        style="z-index: -1; position: relative; {{color feature}}"
        class={{class}}></circle>
    {{/if}}
</template>

<template name="plotFeature">
    <circle cx="{{x}}" cy="{{y}}" r="1"
        class="feature {{class}}"></circle>
</template>
